/* .footer-bottom{
  position:relative;
  left: 0;
  bottom: 100;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */



/* .datatable-footer{
  background-color: rgb(170, 58, 214)!important;
} */

/* .table-height{
  height: 80vh;
} */
