<div>
  <div class="row page-titlebar1 p-0">
    <div class="col-sm-2 col-md-1 col-lg-1 col-xl-2 bgwhite-p10 d-flex justify-content-center justify-content-md-start">
      <div class="form-material">
        <h3 class=" text-themecolor m-b-0 m-t-5 titleshadow">New Stage</h3>
      </div>
    </div>
    <div class="col-sm-5 col-md-6 col-xl-6 form-material px-0 pl-lg-2 pl-md-2 pl-xl-2 pl-sm-2">
      <div class="col-md-12 col-lg-12 col-xl-12 px-0 h-100">
        <div class="bgwhite-p10 p-0 d-flex align-items-center h-100 justify-content-center justify-content-sm-start pl-lg-3 pl-md-3 pl-xl-3 pl-sm-3">
          <div class="required">
            <a data-toggle="modal" (click)="addNewStage()" class="aTag">Add New Stage</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-4 col-xl-4 d-flex justify-content-md-end justify-content-center bgwhite-p10">
       <div _ngcontent-c13="" class="">
         <div _ngcontent-c13="" class="searchbox">
          <div _ngcontent-c13=" inputicon commonfilter">
          <input _ngcontent-c13="" class="form-control ng-pristine  ng-valid ng-touched"  placeholder="Type To Filter" type="text"
          ng-reflect-is-disabled="false">
          </div>
         </div>
       </div>
    </div>
  </div>
<!-- <h4 style="color: violet; font-style: italic;"><marquee behavior="alternate" direction="" scrollamount="20">Made by Raushan</marquee></h4> -->
</div>

<!--  <div class="col-sm-5 col-md-5 col-lg-4 col-xl-4 d-flex justify-content-md-end  justify-content-center bgwhite-p10">
      <div _ngcontent-c13="" class="">
        <div _ngcontent-c13="" class="searchbox">
          <div _ngcontent-c13="" class="inputicon commonfilter">
            <input _ngcontent-c13="" class="form-control ng-pristine ng-valid ng-touched mb-1"
              placeholder="Type To Filter" type="text" ng-reflect-is-disabled="false" (keyup)="filterData($event.target)">
            <span _ngcontent-c13="" class="common-filter-icon" data-toggle="modal">
              <i _ngcontent-c13="" class="ti-filter"></i></span>
          </div>
        </div>
      </div>
    </div> -->
